	<div class="content block">
			<div class="block breadcrumbs">
				<h1>My account</h1>
				<div class="category-overlay">
					<ul class="category">
						<li>
							<a href="javascript:;">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li>
							<a href="javascript:;" class="active">My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<li class="btn-close js-close-category">
							<a href="javascript:;">
								<i class="icon font-ico-close"></i>
							</a>
						</li>
					</ul>
					<ul class="sub-category">
						<li>
							<a href="javascript:;">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li class="selected">
							<a href="javascript:;">My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<a href="javascript:;" class="category-toggle js-category-toggle"></a>
					</ul>
				</div>
			</div>
			<div class="account-blocks account-orders">
				<div class="wrap">
					<div class="account-header hide-phablet clearfix">
						<h2>My orders</h2>
						<input class="input-search" type="search" name="" value="" placeholder="Search an order">
					</div>
					<div class="account-table ongoing-table">
						<a href="#" class="fright hide-tablet-up search-order-link">Search order</a>
						<h3>Ongoing orders</h3>
						<div class="table-header">
							<div class="table-item">
								<h6>Date</h6>
							</div>
							<div class="table-item">
								<h6>Order n°</h6>
							</div>
							<div class="table-item">
								<h6>Amount</h6>
							</div>
							<div class="table-item">
								<h6>Tracking n°</h6>
							</div>
							<div class="table-item">
								<h6>Status</h6>
							</div>
						</div>
						<div class="table-body">
							<div class="table-row">
								<div class="table-item">
									<h6>20/02/2017</h6>
								</div>
								<div class="table-item">
									<h6>£STSM608</h6>
								</div>
								<div class="table-item">
									<span class="item-price">279,<sup>90€</sup></span>
								</div>
								<div class="table-item">
									<h6>2356</h6>
								</div>
								<div class="table-item">
									<h6>Shipped</h6>
								</div>
								<div class="table-item toggle-subrow">
									<h6>
										<span class="hide-phablet">Detail of your articles</span>
										<span class="hide-tablet-up" data-hide="Hide ">details</span>
									</h6>
								</div>
								<div class="table-content">
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
								</div>
							</div>
							<div class="table-row">
								<div class="table-item">
									<h6>20/02/2017</h6>
								</div>
								<div class="table-item">
									<h6>£STSM608</h6>
								</div>
								<div class="table-item">
									<span class="item-price">279,<sup>90€</sup></span>
								</div>
								<div class="table-item">
									<h6>2356</h6>
								</div>
								<div class="table-item">
									<h6>Shipped</h6>
								</div>
								<div class="table-item toggle-subrow">
									<h6>
										<span class="hide-phablet">Detail of your articles</span>
										<span class="hide-tablet-up" data-hide="Hide ">details</span>
									</h6>
								</div>
								<div class="table-content">
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="account-table">
						<h3>Delivery History</h3>
						<div class="table-header">
							<div class="table-item">
								<h6>Date</h6>
							</div>
							<div class="table-item">
								<h6>Order n°</h6>
							</div>
							<div class="table-item">
								<h6>Amount</h6>
							</div>
							<div class="table-item">
								<h6>Tracking n°</h6>
							</div>
							<div class="table-item">
								<h6>Status</h6>
							</div>
						</div>
						<div class="table-body">
							<div class="table-row">
								<div class="table-item">
									<h6>20/02/2017</h6>
								</div>
								<div class="table-item">
									<h6>£STSM608</h6>
								</div>
								<div class="table-item">
									<span class="item-price">279,<sup>90€</sup></span>
								</div>
								<div class="table-item">
									<h6>2356</h6>
								</div>
								<div class="table-item">
									<h6>Shipped</h6>
								</div>
								<div class="table-item toggle-subrow">
									<h6>
										<span class="hide-phablet">Detail of your articles</span>
										<span class="hide-tablet-up" data-hide="Hide ">details</span>
									</h6>
								</div>
								<div class="table-content">
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
								</div>
							</div>
							<div class="table-row">
								<div class="table-item">
									<h6>20/02/2017</h6>
								</div>
								<div class="table-item">
									<h6>£STSM608</h6>
								</div>
								<div class="table-item">
									<span class="item-price">279,<sup>90€</sup></span>
								</div>
								<div class="table-item">
									<h6>2356</h6>
								</div>
								<div class="table-item">
									<h6>Shipped</h6>
								</div>
								<div class="table-item toggle-subrow">
									<h6>
										<span class="hide-phablet">Detail of your articles</span>
										<span class="hide-tablet-up" data-hide="Hide ">details</span>
									</h6>
								</div>
								<div class="table-content">
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
									<div class="table-subrow">
										<div class="subrow-item">
											<img src="themes/custom/fashion/assets/img/content/table-item1.jpg" alt="">
										</div>
										<div class="subrow-item">
											<div class="item-desc">
												<h6>XYZ Jacket</h6>
												<span class="small-text">Cranberry Red - XL</span>
												<span class="small-text">QUANTITY 1</span>
												<a href="javascript:;" class="small-text hide-tablet-up">Viev article</a>
											</div>
										</div>
										<div class="subrow-item">
											<span class="item-price">65,<sup>00€</sup></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="centered">
						<a class="btn btn-black btn-big hide-tablet-up" href="javascript:;">previous orders</a>
					</div>
				</div>
			</div>
			<div class="block feed hide-phablet">
				<h2>Share your style <span class="fright">#ST</span></h2>
				<div class="feed-item">
					<a href="javascript:;">
						<img src="themes/custom/fashion/assets/img/content/feed1.jpg" alt="">
						<h4 class="feed-title">style in<br/>cotton</h4>
					</a>
				</div>
				<div class="feed-item">
					<a href="javascript:;">
						<img src="themes/custom/fashion/assets/img/content/feed2.jpg" alt="">
						<h4 class="feed-title">style in<br/>cotton</h4>
					</a>
				</div>
				<div class="feed-item">
					<a href="javascript:;">
						<img src="themes/custom/fashion/assets/img/content/feed3.jpg" alt="">
						<h4 class="feed-title">style in<br/>cotton</h4>
					</a>
				</div>
				<div class="feed-item">
					<a href="javascript:;">
						<img src="themes/custom/fashion/assets/img/content/feed4.jpg" alt="">
						<h4 class="feed-title">style in<br/>cotton</h4>
					</a>
				</div>
				<div class="centered">
					<a class="btn btn-big" href="javascript:;">Share your style</a>
				</div>
			</div>
		</div>