<div class="content block">
			<div class="block breadcrumbs">
				<h1>My account</h1>
				<div class="category-overlay">
					<ul class="category">
						<li>
							<a href="javascript:;" class="active">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li>
							<a href="javascript:;">My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<li class="btn-close js-close-category">
							<a href="javascript:;">
								<i class="icon font-ico-close"></i>
							</a>
						</li>
					</ul>
					<ul class="sub-category">
						<li class="selected">
							<a href="javascript:;">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li>
							<a href="javascript:;">My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<a href="javascript:;" class="category-toggle js-category-toggle"></a>
					</ul>
				</div>
			</div>
			<div class="account-blocks">
				<div class="wrap">
					<div class="account-block-wrap clearfix">
						<div class="account-block-full">
							<div class="account-block-header">
								<h6>Contact infos</h6>
								<a href="javascript:;">Edit</a>
							</div>
							<div class="account-block-form clearfix">
								<div class="form-item">
									<span class="form-item-label">first name</span>
									<p class="form-item-text">John</p>
								</div>
								<div class="form-item">
									<span class="form-item-label">last name</span>
									<p class="form-item-text">Smith</p>
								</div>
								<div class="form-item">
									<span class="form-item-label">Email address</span>
									<p class="form-item-text">johnsmith@gmail.com</p>
								</div>
								<div class="form-item">
									<span class="form-item-label">Phone number</span>
									<p class="form-item-text">+32 678202087</p>
								</div>
								<div class="form-item">
									<span class="form-item-label">Birthday</span>
									<p class="form-item-text">12 décembre 1985</p>
								</div>
								<div class="form-item">
									<span class="form-item-label">Gender</span>
									<p class="form-item-text">Male</p>
								</div>
							</div>
						</div>
						<div class="account-block-full">
							<div class="account-block-header">
								<h6>Password</h6>
								<a href="javascript:;">Edit</a>
							</div>
							<div class="account-block-form no-margin clearfix">
								<a class="btn btn-black" href="javascript:;">Change password</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>