	<div class="content block">
			<div class="block breadcrumbs">
				<h1>My account</h1>
				<div class="category-overlay">
					<ul class="category">
						<li>
							<a href="javascript:;" class="active">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li>
							<a href="javascript:;" >My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<li class="btn-close js-close-category">
							<a href="javascript:;">
								<i class="icon font-ico-close"></i>
							</a>
						</li>
					</ul>
					<ul class="sub-category">
						<li class="selected">
							<a href="javascript:;">Account info</a>
						</li>
						<li>
							<a href="javascript:;">Address</a>
						</li>
						<li>
							<a href="javascript:;">My orders</a>
						</li>
						<li>
							<a href="javascript:;">Log Out</a>
						</li>
						<a href="javascript:;" class="category-toggle js-category-toggle"></a>
					</ul>
				</div>
			</div>
			<div class="account-blocks">
				<div class="wrap">
					<div class="account-block-wrap clearfix">
						<div class="account-block">
							<div class="account-block-header">
								<h6>Billing address</h6>
								<a href="javascript:;">Edit</a>
							</div>
							<div class="account-block-content">
								<p>John Smith</p>
								<p>221 Baker Street</p>
								<p>London</p>
								<p>WC2N</p>
								<p>United Kingdom</p>
							</div>
							<a class="add-more" href="javascript:;">Add an new address</a>
						</div>
						<div class="account-block">
							<div class="account-block-header">
								<h6>Shipping address</h6>
								<a href="javascript:;">Edit</a>
							</div>
							<div class="account-block-content">
								<p>John Smith</p>
								<p>221 Baker Street</p>
								<p>London</p>
								<p>WC2N</p>
								<p>United Kingdom</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
