.feed {
	background-color: #f4f4f4;
	padding-top: 145px;
	h2 {
		padding: 0 80px;
		margin-bottom: 75px;
	}
	.feed-item {
		width: 25%;
		float: left;
		position: relative;
		overflow: hidden;
		&:hover {
			.feed-title {
				opacity: 1;
				transform: translateY(0);
				background-image: linear-gradient(to bottom, rgba($black, 0) 50%, $black 100%);
			}
		}
		img {
			width: 100%;
		}
	}
	.feed-title {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 36px;
		color: $white;
		line-height: 1.2em;
		text-transform: uppercase;
		padding: 35px 40px 28px;
		opacity: 0;
		transform: translateY(100%);
		transition: transform $duration $easing, opacity $duration $easing;
		background-image: linear-gradient(to bottom, rgba($black, 0) 50%, rgba($black, 0) 100%);
		display: flex;
		align-items: flex-end;
	}
	.centered {
		clear: both;
	}
	.btn {
		margin: 85px auto 150px;
	}
	@include breakpoint(tablet) {
		padding-top: 40px;
		h2 {
			font-size: 40px;
			padding-left: 40px;
			padding-right: 40px;
			margin-bottom: 40px;
		}
		.btn {
			margin: 40px auto;
		}
	}
	@include breakpoint(phone) {
		padding-top: 30px;
		h2 {
			font-size: 32px;
			line-height: 1.3em;
			padding: 0 80px 0 20px;
			margin-bottom: 28px;
			position: relative;
			span {
				position: absolute;
				top: 0;
				right: 20px;
			}
		}
		.feed-item {
			width: 50%;
		}
		.btn {
			font-size: 18px;
			margin: 30px auto;
			padding: 15px 40px;
		}
		.centered {
			padding: 0 20px;
		}
	}
}
