//----------  forms
//------------------------------------------------------------------------------
input,
select,
textarea {
	font-family: $font-default;
	box-shadow: none;
	background-color: $white;
	width: 100%;
	height: 72px;
	padding: 0 20px;
	font-size: 15px;
	color: #868686;
	letter-spacing: 0.1em;
	border: 1px solid $black;
	outline: none;
	border-radius: 0;
	@include placeholder {
		color: #868686;
	}
	&.form-error {
		border-color: #d9242f;
	}
	@include breakpoint(phone) {
		font-size: 12px;
		padding: 0 12px;
	}
}

select {
	position: relative;
	padding-right: 45px;
	background-image: url('../img/select-arrow.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
	appearance: none;
	background-size: 13px;
	@include breakpoint(phone) {
		padding-left: 12px;
		padding-right: 27px;
	}
}
select::-ms-expand {
	opacity: 0;
}

.input-search {
	height: 44px;
	width: 301px;
	background-image: url('../svg/ico-search.svg');
	background-position: right 14px center;
	background-size: 22px;
	background-repeat: no-repeat;
	padding-right: 44px;
}

.radio {
	width: 100%;
	float: left;
	input[type='radio'] {
		opacity: 0;
		position: absolute;
		left: -9999px;
		+ label {
			position: relative;
			padding-left: 41px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
			letter-spacing: 0.05em;
			float: left;
			&::before {
				content: '';
				width: 22px;
				height: 22px;
				border: 1px solid $black;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				border-radius: 50%;
				margin: 20px auto 0;
			}
			&::after {
				content: '';
				width: 14px;
				height: 14px;
				background-color: $black;
				left: 4px;
				top: 0;
				bottom: 0;
				position: absolute;
				opacity: 0;
				border-radius: 50%;
				transition: $duration $easing;
				transform: scale(0);
				margin: 24px auto 0;
			}
		}
		&:checked + label {
			&::after {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

.tooltip {
	display: none;
	position: absolute;
	z-index: 1;
	background: $grey-light;
	border: 1px solid $border;
	width: 100%;
	padding: 20px;
	bottom: 100%;
	left: 0;
	margin-bottom: 10px;
	&::before {
		content: '';
		display: none;
		width: 20px;
		height: 23px;
		position: absolute;
		left: -20px;
		bottom: -1px;
		background: url('../img/ico-tooltip-arrow.png') no-repeat 0 0;
		background-size: 100%;
	}
	span {
		text-transform: uppercase;
		display: block;
		margin-bottom: 13px;
		font-size: 26px;
		letter-spacing: 0.035em;
		font-family: $font-headings;
	}
	p {
		font-size: 15px;
		line-height: 20px;
	}
	.icon {
		position: absolute;
		top: 38px;
		right: 35px;
		font-size: 22px;
	}
	@media only screen and (min-width: 1550px) {
		width: 350px;
		bottom: 0;
		position: absolute;
		transform: translateX(100%);
		padding: 33px 50px 32px 40px;
		margin: 0 0 0 41px;
		&::before {
			display: block;
		}
	}
}

.three-fields-wrap {
	.form-item {
		width: 30.77%;
		margin-right: 3.845%;
		&:nth-child(even) {
			float: left;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}
