//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Akkurat', sans-serif;
$font-headings: 'Knockout HTF68-FullFeatherwt', sans-serif;

// colors
$white: #fff;
$black: #141517;
$grey-light: #fafafa;
$grey: #d0d0d0;
$grey-medium: #9c9c9c;
$border: #e8e8e8;
$yellow: #fd0;

// Transitions variables
$duration: 0.3s;
$easing: ease-out;
